<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
</head>
<body>
<div align="center">
    <h1>Task Manager</h1>
    <a href="new">Add New Task</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Task ID</th>
                <th>Task</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${listTasks}">
                <td th:text="${task.id}">Task ID</td>
                <td th:text="${task.task}">Task</td>
                <td th:text="${task.done}">Completed</td>
                <td>
                    <a th:href="@{'/edit/' + ${task.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${task.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>