<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sub Tasks</title>
</head>
<body>
<div align="center">
    <h1>Sub Task Manager</h1>
    <a th:href="@{'/new_subtask/' + ${todoId}}">Add New Subtask</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Sub Task ID</th>
            <th>Sub Task</th>
            <th>Completed</th>
            <th>Deadline</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subtask : ${listOfSubTasks}" th:bgcolor=${subtask.setColor()}>
            <td th:text="${subtask.id}">Sub Task ID</td>
            <td th:text="${subtask.task}">Sub Task</td>
            <td th:text="${subtask.done}">Completed</td>
            <td th:text="${subtask.deadline}">Deadline</td>
            <td>
                <a th:href="@{'/edit_subtask/' + ${subtask.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete_subtask/' + ${subtask.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
